@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap");

:root {
  --primary-dark: #851bf7;
  --primary-light: #fee9ff;
}

html {
  background-color: #851bf7;
  background-image: linear-gradient(
    to bottom right,
    #851bf7,
    #714dfe,
    #6469ff,
    #617ffc,
    #6b92f5,
    #82a0f3,
    #98aef0
  );

  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primary-light);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.container {
  width: 60%;
  margin: 0rem auto;
  font-size: 1.8rem;
  
}
h1 {
  text-align: center;
  font-size: 3rem;
}
#output-box {
  text-align: center;
  margin: 0.5rem;
}
img {
  display: block;
  width: 50%;
  max-width: 600px;
  margin: 0px auto;
}
input,
label {
  display: block;
  width: 50%;
  margin: 0rem auto;
}

input {
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: 2px solid #6469ff;
}
@media screen and (max-width: 500px) {
  html {
    height: 100%;
  }
  .container {
    width: 300px;
    font-size: 1rem;
    margin: 0px auto;
  }
  input,
  label {
    width: 300px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .container #check-number {
    font-size: 0.8rem;
    padding: 8px 12px;
  }
  .container #check-number:hover {
    background-color: #474dff;
    text-decoration: underline;
  }

  .container #check-number:active {
    background-color: #474dff;
    box-shadow: 0 5px #474dff;
    transform: translateY(4px);
  }
}
#check-number {
  display: block;
  margin: 10px auto;
  background-color: #5f64fb;
  color: var(--primary-light);
  border: 2px solid var(--primary-light);
  border-radius: 0.5rem;
  font-weight: 800;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}
#check-number:hover {
  background-color: #474dff;
  text-decoration: underline;
}

#check-number:active {
  background-color: #474dff;
  box-shadow: 0 5px #474dff;
  transform: translateY(4px);
}
